<ul class="list-group">
  <a class="list-group-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home"></i> Home</a>
  <a class="list-group-item" routerLink="/usuarios" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-users"></i> Usuários</a>
  <a class="list-group-item" routerLink="/tipo-servico" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-users"></i> Tipos de Serviço</a>
</ul>