<div class="container">
  <div class="row logincontainer">
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
      <img src="../../assets/logomarca.png" class="img-fluid" />
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Entrar</h5>
          <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{ mensagemErro }}
          </div>
          <form novalidate [formGroup]="form" (ngSubmit)="login()">
            <div class="input-group pb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="fa-user"><i class="fas fa-user"></i></span>
              </div>
              <input
                type="text"
                class="form-control"
                [class.is-valid]="form.get('cpf').touched && form.get('cpf').valid"
                [class.is-invalid]="form.get('cpf').touched && form.get('cpf').invalid"
                id="cpf"
                placeholder="CPF"
                aria-label="CPF"
                aria-describedby="fa-user"
                formControlName="cpf"
              />
              <div class="invalid-feedback">CPF inválido</div>
            </div>
            <div class="input-group pb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="fa-key"><i class="fas fa-key"></i></span>
              </div>
              <input
                type="password"
                class="form-control"
                [class.is-valid]="form.get('pass').touched && form.get('pass').valid"
                [class.is-invalid]="form.get('pass').touched && form.get('pass').invalid"
                id="pass"
                placeholder="Senha"
                aria-label="Senha"
                aria-describedby="fa-key"
                formControlName="pass"
              />
              <div class="invalid-feedback">Senha inválida</div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid || bloqueiaEnvio">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="bloqueiaEnvio"></span>
                <span class="sr-only" *ngIf="bloqueiaEnvio">Carregando...</span>
                <i class="fas fa-sign-in-alt" *ngIf="!bloqueiaEnvio"></i> Entrar
              </button>
            </div>
            <div class="dropdown-divider mt-3 mb-3"></div>
            <p>Ainda não tem uma conta?</p>
            <a routerLink="/signup" class="card-link">Abra uma conta</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>