<div class="card">
  <div class="card-body">
    <div class="card-title">Card de Teste</div>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, sunt? Doloremque voluptates rem vitae dignissimos error fugiat impedit, ab nisi soluta autem cupiditate in omnis ratione maiores quibusdam sed. Dolorum?
  </div>
</div>
<div class="card mt-3 mb-3">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <span>Testes (Vai ser o nome que está na listagem)</span>
      <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle mr-1"></i> <span class="d-none d-sm-inline-block">Adicionar</span></button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></td>
            <td><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></td>
            <td><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></td>
            <td><button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>